.app {
  background: #121212;
  padding: 30px;
  height: 100vh;
}
.todo-list {
  margin: 100px auto;
  background: #b88ecd;
  border-radius: 5px;
  padding: 5px;
  max-width: 350px;
}
.todo {
  background: #ffffff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 14px;
  margin-bottom: 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form {
  max-width: 350px;
}
input {
  width: 325px;
  border-color: transparent;
  outline: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 14px;
  margin: 6px auto;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  border-color: transparent;
  outline: none;
  background: #ffffff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 14px;
  margin: 12px auto;
  margin-bottom: 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
